{% extends "layouts/index.html" %}

{% block title %}Meus cursos{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="container my-5">
    <h4 class="text-center mb-4">Seja bem vindo {{ user.name }}</h4>
    <div class="row mx-auto">
        <div class="col-md-2">
            <div class="aside-menu btn-group-vertical btn-block">
                <a href="{{base_url}}dashboard" class="btn btn-block btn-primary">Inicio</a>
                <a href="{{base_url}}dashboard/my-courses" class="btn btn-block btn-primary">Meus cursos</a>
                <a href="{{base_url}}dashboard/my-profile" class="btn btn-block btn-primary">Meu Perfil</a>
            </div>
        </div><!-- div.col-md-2 -->
        <div class="col-md-10 ml-0">
            {% if getCourseError %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{getCourseError}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {%endif%}
            {%verbatim%}
            <div id="app-mycourses">
                <div v-if="ratingAlert != ''" id="alertSucess" class="alert alert-success" role="alert">
                    {{ratingAlert}}
                    <button type="button" class="close" v-on:click="dismissAlertSucess()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="form-inline col-12">
                            <div class="form-group">
                                <input id="title" type="text" class="form-control" placeholder="Titulo do curso">
                            </div>
                            <div class="form-group ml-2">
                                <select id="progress" class="form-control" id="exampleFormControlSelect1">
                                    <option value="0">Todos</option>
                                    <option value="1">Concluido</option>
                                    <option value="2">Sem concluir</option>
                                </select>
                            </div>
                            <input id="page" type="hidden" name="page" value="1">
                            <button v-on:click="searchTerms()" onclick="return false"
                                class="ml-2 btn btn-md btn-primary">Pesquisar</button>
                        </div>
                    </div>
                </div><!-- div.row -->
                <div class="col-12" v-for="course in courses">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row card-course-header text-center">
                                <h5 class="card-title col-12 col-md-12">{{course.title}}</h5>
                                <p class="col-12 col-md-12">{{course.name}}</p>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h5>Progresso do curso</h5>
                                </div>
                                <div class="col-md-11">
                                    <div class="course-progress progress">
                                        <div class="progress-bar" role="progressbar"
                                            :style="'width:'+course.progress_percentage+'%'"
                                            :aria-valuenow="+course.progress_percentage" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>{{course.progress_percentage}}%</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <img class="comment-autor-img" v-if="course.profile_picture != ''" :src="base_url+'public/img/profile/'+course.profile_picture">
                                        <img class="comment-autor-img" v-if="course.profile_picture == ''" :src="base_url+'public/img/user.png'">
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <label>{{course.author}}</label>
                                        <br>
                                        <label>{{course.created_at|formatDate}}</label>
                                    </div>
                                </div>
                                <div>
                                    <label>Minha avaliação:</label>
                                    <br>
                                    <span v-if="course.rating > 0">
                                        <i v-for="n in course.rating-0" class="fas fa-star" style="color:#FC0"></i>
                                    </span><span v-if="course.rating !=5">
                                        <i v-for="n in 5-course.rating" class="far fa-star" style="color:#CCC"></i>
                                    </span>
                                </div>
                            </div><!-- div.d-flex-->
                            <div class="text-center mx-auto">
                                <a :href="base_url+'dashboard/my-courses/course?id='+course.enrollment_id"
                                    class="btn  btn-primary">
                                    Acessar
                                    curso</a>
                                <button class="btn btn-primary" v-on:click="openModal(course.id)">Avaliar</button>
                            </div>
                        </div><!-- div.card-body-->
                    </div><!-- div.card -->
                </div><!-- div.col12 -->
                <div>
                    <nav>
                        <ul class="pagination d-flex justify-content-center">
                            <li id="previous-page" class="page-item">
                                <button class="page-link" v-on:click="previousPage()">Anterior</button>
                            </li>
                            <li id="next-page" class="page-item">
                                <button class="page-link" v-on:click="nextPage()">Proximo</button>
                            </li>
                        </ul><!-- ul.pagination -->
                    </nav><!-- nav -->
                </div>
                <div class="modal fade" id="modalRating" tabindex="-1" role="dialog" aria-labelledby="modalRatingLabel"
                aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalRatingLabel">Avaliar Curso</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <label for="stars">Nota:</label>
                                    <div class="stars">
                                        <label for="cm_star-1"><i class="fa"></i></label>
                                        <input name="rating" type="radio" id="cm_star-1" name="fb" value="1" checked/>
                                        <label for="cm_star-2"><i class="fa"></i></label>
                                        <input name="rating" type="radio" id="cm_star-2" name="fb" value="2"/>
                                        <label for="cm_star-3"><i class="fa"></i></label>
                                        <input name="rating" type="radio" id="cm_star-3" name="fb" value="3"/>
                                        <label for="cm_star-4"><i class="fa"></i></label>
                                        <input name="rating" type="radio" id="cm_star-4" name="fb" value="4"/>
                                        <label for="cm_star-5"><i class="fa"></i></label>
                                        <input name="rating" type="radio" id="cm_star-5" name="fb" value="5"/>
                                    </div>
                                    <label for="rating-text">Opinião:</label>
                                    <textarea id="comment" class="form-control" name="rating-text">{{rating.comment}}</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-primary" v-on:click="sendRating()">Enviar avaliação</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- div#appcoursews -->
            {%endverbatim%}
        </div><!-- div.col-md-10-->
    </div><!-- div.row -->
</div><!-- div. container-->
<script>
    Vue.config.productionTip = false;
        Vue.filter('formatDate', function(value) {
            if (value) {
                return moment(String(value)).format('DD/MM/YYYY')
            }
        });
    var app = new Vue({
        el: "#app-mycourses",
        data() {
            return {
                courses: [],
                rating:[],
                idCourseRating:"",
                ratingAlert:"",
                base_url: "https://wikivideo.ga/wikivideo/",
                url: 'dashboard/ajaxMyCourses'
            }
        },
        mounted() {
            this.getCourses();
        },
        methods: {
            getCourses() {
                page = parseInt($("#page").val());
                title = $("#title").val();
                progress = $("#progress").val();

                var userData = new FormData();
                userData.set('method', 'getCourses');
                userData.set('page', page);
                userData.set('title', title);
                userData.set('progress', progress);

                axios({
                    method: 'post',
                    url: this.base_url + this.url,
                    data: userData
                }).then((response) => {
                    this.courses = response.data.courses;

                    if (page >= response.data.max_page) {
                        $("#next-page").addClass("disabled");
                    } else if (page < response.data.max_page) {
                        $("#next-page").removeClass("disabled");
                    }
                    if (response.data.max_page < 2) {
                        $("#next-page").addClass("disabled");
                    }
                });

                if (page > 1) {
                    $("#previous-page").removeClass("disabled");
                }
                if (page <= 1) {
                    $("#previous-page").addClass("disabled");
                }
                window.scrollTo(0, 0);
            },
            nextPage() {
                $("#page").val(parseInt($("#page").val()) + 1);
                page = $("#page").val();
                this.getCourses();
            },
            previousPage() {
                $("#page").val(parseInt($("#page").val()) - 1);
                page = $("#page").val();
                this.getCourses();

            },
            searchTerms() {
                $("#page").val(1);
                page = $("#page").val();
                this.getCourses();
            },
            openModal(id){
                this.idCourseRating = id;
                var userData = new FormData();
                userData.set('method','getRating');
                userData.set('courseId',id);
                axios({
                    method: 'post',
                    url: this.base_url + this.url,
                    data: userData
                }).then((response) => {
                    if(response.data != null){
                        this.rating = response.data[0];
                        for(i=1;i < this.rating.rating;i++){
                            $(".stars input[type=radio]").eq(i).prop("checked","true");
                        }
                        $("#comment").val(this.rating.comment);
                    }else{
                        this.rating = [];
                        $("#comment").val("");
                        $("#cm_star-1").prop("checked",true);
                    }
                    
                });
                $('#modalRating').modal();
            },
            sendRating(){
                let rating = $("input[name='rating']:checked").val();
                var comment = $("#comment").val();
                var userData = new FormData();
                userData.set('method','sendRating');
                userData.set('courseId',this.idCourseRating);
                userData.set("rating",rating);
                userData.set("comment",comment);
                axios({
                    method: 'post',
                    url: this.base_url + this.url,
                    data: userData
                }).then((response) => {
                    this.getCourses();
                    $('#modalRating').modal("hide");
                    $(".alert-danger").alert("close");
                    $("#alertSucess").fadeIn();
                    this.ratingAlert = "Curso Avaliado com sucesso!";
                });

            },
            dismissAlertSucess(){
                $("#alertSucess").fadeOut();
            }
            
        }
    });
    function formatData(data){
        return moment(data).format('DD-MM-YYYY')
    }

</script>
{% endblock %}