{% extends "layouts/index.html" %}

{% block title %}Curso{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {%verbatim%}
    <div class="container-fluid my-3" id="app-video">
            <div class="container text-center">
            <h1 class="mt-3 text-center">{{video.course_title}}</h1>
            <div class="row d-flex justify-content-center my-2">
                <div class="col-12">
                    <h4>Progresso do curso</h4>
                </div>
                <div class="col-md-11">
                    <div class="course-progress progress">
                        <div class="progress-bar" role="progressbar" :style="'width:'+video.progress_percentage+'%'" :aria-valuenow="video.progress_percentage" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <p>{{video.progress_percentage}}%</p>
                </div>
            </div><!-- div.row !-->
            <hr>
        </div>
        <div class="row" >
            <div class="col-md-3">
                <div class="accordion" id="videosOutline">
                    <div class="card" v-for="content in video.contents">
                        <div class="card-header" :id="'heading-'+content.id">
                            <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#collapse-'+content.id" aria-expanded="true" :aria-controls="'#collapse-'+content.id">{{content.title}}</button>
                        </div>
                        <div class="collapse" :id="'collapse-'+content.id" :aria-labelledby="'heading'+content.id" data-parent="#videosOutline">
                            <div class="card-body">
                                <ul>
                                    <li class="my-3 list-unstyled" v-for="video in content.videos">
                                        <a class="video-link" v-on:click="getVideo(video.id)">{{video.title}} <i class="fas fa-check" v-if="video.complete ==1"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-12">
                    <div class="row my-3">
                        <div class="col-10">
                            <h4 class="text-center">{{video.content_title}}   -  {{video.title}}</h4>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary btn-small" v-on:click="watched(video.id)" v-if="video.complete == 0">Marcar como assistido</button>
                            <button class="btn btn-primary btn-small" v-on:click="notWatched(video.id)" v-if="video.complete == 1">Marcar como não assistido</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="player-video embed-responsive embed-responsive-16by9">
                        <video v-if="video.video_url" width=”640px” height=”380px” controls autoplay ><source :src="base_url+'../painel/'+video.video_url"></video>
                    </div>
                    <div class="comment mt-3">
                        <h3 class="text-center">Comentários</h3>
                        <div class="form-comment">
                            <textarea class="form-control" cols="100" row="100" resize="none"></textarea>
                            <button class="btn btn-primary btn-block mt-2">Enviar</button>
                        </div>
                        <div id="comments" class="mt-5">
                            <div class="card">
                                <div class="card-body">
                                <p>This is some text within a card body.</p>
                                <div class="details">
                                    <p>Nome:</p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--div.container-->
    
    {%endverbatim%}

    <script>
        var app = new Vue({
            el:"#app-video",
            data(){
            return{
                    courses:[],
                    video:{},
                    content:{},
                    base_url:"https://wikivideo.ga/wikivideo/",
                    url:'dashboard/ajaxMyCourses',
                }
            },
            async created(){
                this.updateVideo();
            },
            methods:{
                updateVideo(){
                    let searchParams = new URLSearchParams(window.location.search)
                    if(searchParams.has('id')){
                        let enrollmentId = searchParams.get('id');
                        var userData = new FormData();
                        userData.set('method','getCurrentVideo');
                        userData.set('enrollmentId',enrollmentId);
                        axios({
                            method:'post',
                            url:this.base_url+this.url,
                            data:userData
                        }).then((response)=>{
                            this.video = response.data;
                            console.log(this.video);
                        });
                    }
                },
                watched(videoId){
                    var userData = new FormData();
                    userData.set('method','makeWatch');
                    userData.set('videoId',videoId);
                    userData.set('enrollmentId',this.video.enrollment_id);
                    
                    axios({
                        method:'post',
                        url:this.base_url+this.url,
                        data:userData
                    }).then((response)=>{
                       this.updateVideo();
                    });
                },
                notWatched(videoId){
                    var userData = new FormData();
                    userData.set('method','makeNoWatch');
                    userData.set('videoId',videoId);
                    userData.set('enrollmentId',this.video.enrollment_id);
                    
                    axios({
                        method:'post',
                        url:this.base_url+this.url,
                        data:userData
                    }).then((response)=>{
                       this.updateVideo();
                    });
                },
                getVideo(videoId){
                    var userData = new FormData();
                    userData.set('method','getVideo');
                    userData.set('videoId',videoId);
                    userData.set('enrollmentId',this.video.enrollment_id);
                    
                    axios({
                        method:'post',
                        url:this.base_url+this.url,
                        data:userData
                    }).then((response)=>{
                        this.video = response.data;
                    });
                },
                nextVideo(){

                },
                previousVideo(){

                }
            }
        });
    </script>
{% endblock %}